@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:ital,wght@1,700&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-header {
  background-color: #02cf69 !important;
}

.redes-sociales a i {
  color: white;
  font-size: 20px;
  margin-top: 15px;
  text-shadow: 0.80px 0.80px 1px black;
}

.encabezado {
  background-color: #02cf69 !important;
  height: 100px;
  line-height: 100px;
}

.navbar-brand {
  letter-spacing: -1.20px;
  font-family: Caveat;
  font-size: 30px;
  text-shadow: 0.50px 0.50px 1px black;
}

.nav-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  background-color: #02cf69 !important;

}

.navbar-nav li a:hover {
  background-color: rgba(6, 141, 51, 0.445);
  transition: 1.05s;
  -webkit-transition: 1.05s;
  -moz-transition: 1.05s;
  -ms-transition: 1.05s;
  -o-transition: 1.05s;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-shadow: 2px 2px 2px black;
}

.contenedor-banner {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner {
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  background-color: black !important;
  border: solid 3px white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph-home {
  border: 2px solid rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.menu-de-imagenes p {
  font-size: 13px;
}

.formulario-de-contacto {
  border: 2px solid black !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #02cf69 !important;
}

.formulario-de-contacto .formulario {
  border: 2px solid black !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.el-boton {

  font-size: 10px;
}

.contenedor-parrafo-derecha {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.parrafo-derecha {
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  background-color: black !important;
  border: solid 3px #02cf69 !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: white;
  font-size: 16px;
}

.casos-de-exito {
  border: solid 2px black;
  text-align: center;
  margin-left: 50px;
  width: 380px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

.casos-de-exito .imagen-m-v {
  width: 300px;
  height: 300px;
}

.casos-de-exito button {
  background-color: #037e41;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.texto-lateral {
  border: black outset 4px;
  height: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.image {
  background-image: url(../imagenes-para-paginas/logos-para-paginas/HaloGive.png);
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border: black solid 2px;
  margin-left: 80%;
  position: relative;
  bottom: 50%;
}

.container-de-banner {
  justify-content: space-evenly;
  padding: 10px;
}

.banner-de-inversiones {
  width: 40%;
  border: black solid 3px !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: black;
}

.banner-de-inversiones h4 {
  font-size: 16px;
}

.banner-de-inversiones img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.banner-de-inversiones p {
  font-size: 11px;
}

.banner-de-inversiones button {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.testimonios img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.galeria-de-imagenes-grid {
  grid-auto-flow: row;
  height: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 350px);
}

.galeria-de-imagenes-grid h2 {
  margin-bottom: -450px;
}

.contenedor-de-imagenes {
  margin-left: 5px;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.imagen1 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/anciana-bibliotecaria.webp);
}

.imagen2 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/empleado-industrial.webp);
}

.imagen3 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/Donas-2.png);
}

.imagen4 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/Pulseras-Artesanales.png);
}

.imagen5 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/mujer-oficina.webp);
}

.imagen6 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/anciana-morocha.png);
}

.imagen7 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/hermosa-emprendedora.png);
}

.imagen8 {
  background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/limpieza.webp);
}

/* footer-------------------------------------------------------------------------------------------------- */

footer {
  background-color: #02cf69 !important;
}

footer,
h1 {
  font-size: 15px;
  text-align: center;
  font-family: Caveat;
  font-size: 22px;
}

.footer-contacto {
  margin-top: 150px;
  width: 100%;
}

/* media queries----------------------------------------------------------------------------------------------- */

@media screen and (min-width: 780px) {
  .banner {
    font-size: 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768) and (max-width: 991px) {
  .menu-img {
    font-size: 20px;
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .formulario {
    width: 150px !important;

  }
}

@media screen and (min-width:320px) and (max-width:520px) {
  .casos-de-exito {
    border: solid 2px black;
    text-align: center;
    margin-left: 20px;
    width: 280px;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
  }

  .casos-de-exito .imagen-m-v {
    width: 240px;
    height: 250px;
  }
}

@media screen and (min-width:300px) and (max-width:500px) {
  .texto-lateral {
    font-size: 15px;
    height: 430px;
    margin-bottom: 15px;
    width: 90%;
    border: none;

  }
}

@media screen and (min-width:501px) and (max-width:859px) {
  .texto-lateral {
    font-size: 15px;
    border: none;
    height: 250px;
    width: 89%;
    margin-bottom: 10px;
    margin-left: 25px;
  }
}

@media screen and (min-width:861px) and (max-width:1020px) {
  .texto-lateral {
    height: 405px;
    width: 40%;

  }
}

@media screen and (min-width:500px) and (max-width:770px) {

  .galeria-de-imagenes-grid {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 350px);
  }

  .contenedor-de-imagenes {
    border: none;
    background-position: center;
    background-size: cover;
  }

  .imagen1 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/anciana-bibliotecaria.webp);
    grid-row: 1/3;
  }

  .imagen2 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/empleado-industrial.webp);
    grid-row: 3/5;
  }

  .imagen3 {
    background-image: none;
  }

  .imagen4 {
    background-image: none;
  }

  .imagen5 {
    background-image: none;
  }

  .imagen6 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/anciana-morocha.png);
    grid-row: 5/9;
  }

  .imagen7 {
    background-image: none;
  }

  .imagen8 {
    background-image: none;
  }

}

@media screen and (min-width:770px) and (max-width:1050px) {

  .galeria-de-imagenes-grid {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 350px);
  }

  .contenedor-de-imagenes {
    border: none;
    background-position: center;
    background-size: cover;
  }

  .imagen1 {
    background-image: none;
  }

  .imagen2 {
    background-image: none;
  }

  .imagen3 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/Escritor-free-lancer.png);
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .imagen4 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/chef.png);
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .imagen5 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/albañil.png);
    grid-column: 1/2;
    grid-row: 4/9;
  }

  .imagen6 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/hermosa-emprendedora.png);
    grid-column: 2/3;
    grid-row: 4/9;
  }

  .imagen7 {
    background-image: none;
  }

  .imagen8 {
    background-image: none;
  }

}

@media screen and (min-width:1051px) {

  .galeria-de-imagenes-grid {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 350px);
  }

  .contenedor-de-imagenes {
    border: none;
    background-position: center;
    background-size: cover;
  }

  .imagen1 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/busnnes.webp);
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .imagen2 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/mecanico.webp);
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .imagen3 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/limpieza.webp);
    grid-column: 1/2;
    grid-row: 3/9;
  }

  .imagen4 {
    background-image: url(../imagenes-para-paginas/Imagenes-para-pagina-emprendimientos/violinistas.png);
    grid-column: 2/4;
    grid-row: 3/9;
  }

  .imagen5 {
    background-image: none
  }

  .imagen6 {
    background-image: none
  }

  .imagen7 {
    background-image: none;
  }

  .imagen8 {
    background-image: none;
  }
}

@media screen and (min-width:320px) and (max-width:575px) {
  .container-de-inversiones .banner-de-inversiones {
    background-color: white !important;
    color: black;
    border: none !important;
  }

  .container-de-inversiones h4 {
    font-size: 12px;
  }

  .container-de-inversiones h5 {
    font-size: 12px;
  }
}