* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden; /* Esto ocultará el scroll horizontal */
}

:root {
  /* -- Nombre: valor;
--palabrauno-palabrados:valor; */
  --color-principal: #1F242C;
  --color-puro: #000000;
  --color-main: #292E36;
  --color-Secundario: #af8546;
  --color-Terciario: #4CAF50;
  --color-hover-whatsapp: #248e27;
  --color-cuarto: #ffffff;
  --color-Bordes: #E1B168;
  --color-logo: #B43123;
  --color-rojo-puro: #ff1900;
 --box-shadow: #000;
  --color-Botton-correo: #0072c6;
  --button-principal: #E1B168;
  --button-cancel: #B43123;
  --button-disabled: #292E36;
  --size-encabezados: 50px;
  --size-parrafos: 16px;
}
.btn-primary {
  background-color: var(--button-principal) !important;
  border-color: var(--color-cuarto);
  color: var(--color-cuarto);
}

.btn-primary:hover {
  background-color: var(--color-Secundario) !important;
  border-color: var(--color-cuarto);
  color: var(--color-cuarto);
}


.post-header {
  background-color: var(--color-principal) !important;
}



header .navbar>.container .navbar-brand,
header .navbar>.container-fluid .navbar-brand{margin:40px 0 30px;float:left;}
header .navbar{min-height:auto;background:#fff;border:0;padding:0;margin:0;}
header .navbar-brand{padding:0;display:block;height:auto;float:none;}
header a.navbar-brand img{width:100%;height:26px;}
header .navbar-services{margin:40px 0;float:right;}
header .navbar-services i{margin-right:5px;}
header .navbar-services a{position:relative;display:inline-block;margin:0;padding:3px 12px;font-size:14px;color:#434343;margin-left:10px;}
header .navbar-services a:hover{color:#f6a623;}
header .navbar-services img{margin-right:10px;margin-top:-3px;}
header .navbar-services a p{display:inline-block;font-size:12px;margin:0;}
header .navbar-services a.btn{background:#62728b;color:#fff;}
header .navbar-services a.active{color:#f6a623;}
header .navbar-services .dropdown{display:inline;}
header .navbar-services .dropdown .dropdown-menu{left:auto;right:0;margin-top:10px;border:0;}
header .navbar-services ul.dropdown-menu>li>a{margin:0;}
header .navbar-center{margin-top:27px;}
header ul.navbar-center{text-align:center;float:none;}
header ul.navbar-services{text-align:right;float:none;}
header .navbar-nav>li>a{text-transform:uppercase;font-size:14px;color:#454545;font-weight:bold;}
header .navbar-nav>li{float:none;display:inline-block;}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a.active{color:#f6a623;}
header .lang img{width:16px;}
header .lang .dropdown-menu{min-width:auto;}
header .head-search{background:#62728B;padding:13px 0;height:73px;}
header .head-search .icon .fa{border:3px solid #FFF;padding:11px;border-radius:100%;color:#FFF;font-size:20px;}
header .head-search .search-panel{position:absolute;left:0px;top:0;width:200px;padding:11px;}
header .head-search .search-panel ul.dropdown-menu{margin:0px;margin-top:-12px;left:12px;min-width:auto;width:188px;text-align:left;padding:10px 0;border:0;border-radius:0;}
header .head-search .search-panel select{font-size:14px;border:0;border-right:1px solid #eeeeee;padding:0 20px;color:#454545;box-shadow:none;height:26px;}
header .head-search .preferiti a{display:block;padding:0;text-align:center;}
header .head-search .preferiti .num{font-size:14px;color:#555555;display:inline-block;left:-4px;position:relative;}
header .head-search .bag .num{position:absolute;color:#fff;font-size:12px;background-color:#000;border-radius:20px;width:22px;height:22px;padding:3px;text-align:center;top:0;right:0;}
header .head-search .shop-icons .cart .bag{padding:0 10px;}
header .head-search .shop-icons .cart.dropdown a{display:block;}
header .head-search .shop-icons .cart.dropdown .dropdown-menu>li>a{padding:10px 20px;font-size:16px;}
header .head-search .shop-icons .cart ul.dropdown-cart{min-width:250px;right:30px;left:auto;margin-top:22px;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item{display:block;padding:10px 17px;margin:0;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item img{width:40px;height:40px;object-fit:contain;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item:hover{background-color:#f3f3f3}
header .head-search .shop-icons .cart ul.dropdown-cart li .item:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left{float:left}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left img,
header ul.dropdown-cart li .item-left span.item-info{float:left}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left span.item-info{margin-left:10px}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left span.item-info span{display:block}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-right{float:right}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-right button{margin-top:10px;}
header .dropdown-menu .divider{margin:1px 0;}
header .head-search .shop-icons p{font-size:12px;color:#676767;margin-bottom:0;}
header .head-search .shop-icons .subtotal{font-size:16px;color:#fff;margin-top:16px;text-align:right;}
header .contact-txt{display:inline-block;font-size:20px;color:#fff;line-height:20px;position:relative;top:-3px;left:10px;}
header .icon-call{display: inline-block;}
header .icon-call .fa{font-size: 40px;color: #FFF;}
header .head-contact .icon40{margin-top:2px;}
header .contact-txt span{font-size:14px;}
header .btn-category a.buttonselect{padding:32px 0 0 50px;background:#454545;font-size:14px;text-transform:uppercase;color:#fff;border-radius:5px 5px 0 0;height:80px;position:absolute;top:-20px;font-weight:bold;width: 100%;z-index: 9999;}
header .btn-category a.buttonselect:hover{opacity:1;}
header .btn-category .dropdown-menu>li>a {padding:11px 20px;font-weight:600;} 
header .btn-category .dropdown-menu>li>a:hover {color:#62728b;background:transparent;}
header .btn-category .dropdown-menu>li {width:100%;display:block;}
header .btn-category .dropdown-menu>li:before {position:absolute;content:"\f105";font-family:"FontAwesome";font-size:15px;right:10px;color:#484848;padding:11px 10px;}
header .btn-category .dropdown-menu>li:last-child {border:0;}
header .btn-category .dropdown-menu {min-width: 0;margin: 60px 0;padding: 0;width: 270px;border-radius: 0;box-shadow: none;border: 2px solid #484848;top:-2px;}
header .btn-category a {display:block;}
header .btn-category i {margin-left:20px;}
header .btn-category a.buttonselect:before{font-family: FontAwesome;content:"\f03a";color:#fff;position:absolute;left:20px;}
header .search-products button.btn-search{font-family: FontAwesome;position:relative;left:-45px;border-radius:50px!important;content:"\f002";top:-1px;height:49px;width:88px;background:#000;}
header .search-products button.btn-search:hover{opacity:1;}
header .search-products .input-big{border-radius:50px;font-size:14px;border:0;}
input,
select,
textarea{-moz-appearance:none;-webkit-appearance:none;height:40px;box-shadow:none;border:2px solid #eee;border-radius:5px;padding:0 20px;}
input.form-control,
textarea.form-control{border:2px solid #eeeeee;font-size:18px;color:#454545;box-shadow:none;margin-bottom:15px;border-radius:5px;}
input.input-big{height:48px;padding:10px 0px 10px 200px;font-size:18px;color:#454545;border:2px solid #eeeeee;border-radius:5px 0 0 5px;width:100%;}
input[type=checkbox]{-moz-appearance:checkbox;-webkit-appearance:checkbox;height:auto;}
input[type=radio]{-moz-appearance:radio;-webkit-appearance:radio;height:auto;}
header .search-products button.btn-search{position:relative;left:-45px;border-radius:50px!important;top:-1px;height:49px;width:88px;}
header .search-products button.btn-search .fa{font-size: 20px; color: #FFF;}

/* Smartphone */
@media only screen and (max-width:767px) and (min-width:320px){
header .navbar{padding:10px 0 0;min-height:auto;}
header .head-top{padding:0;}
header .navbar-default .navbar-toggle{border:0;margin-right:0;padding:5px 10px 10px;}
header .navbar>.container .navbar-brand,
header .navbar>.container-fluid .navbar-brand{margin:15px;}
header .navbar-services{width:100%;float:none;margin:20px 0;padding:0;}
header .navbar-services a{width:49%;text-align:center;padding:10px 0;margin:0;}
header .head-search{height:50px;margin-top:0;padding:0;}
header .btn-category{margin:5px 0;}
header .btn-category a.buttonselect{top:0;width:52px;height:40px;padding:2px;border-radius:5px;}
header .btn-category a.buttonselect:before{left:17px;font-size:20px;top:6px;}
header .btn-category a.buttonselect span {display: none;}
header .btn-category .dropdown-menu{margin-top:48px;}
header .btn-category .dropdown-menu>li>a{padding:10px;}
form.search-products{margin-top:5px;}
header .head-search .search-panel{display:none;}
header .preferiti .icon img,
header .bag .icon img{width:30px;height:30px;margin:10px 0;}
header .head-search .shop-icons .cart ul.dropdown-cart{margin-top:0;right:0;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item{padding:5px 15px;}
header .head-search .shop-icons .cart .bag {padding: 0 10px;}
header .head-search .icon .fa {font-size: 13px;margin-top: 5px;border: 2px solid #FFF;}
header .search-products .input-big{padding:10px;height:40px;font-size:12px;}
header .search-products button.btn-search {height: 42px;width: 70px;}
header .head-search .bag .num {top: 4px;right: 18px;}
}
@media only screen and (min-width:768px) and (max-width:959px){
  /* Mobile Nav Toggle */
header .navbar-header{float:none;}
header .head-search {padding:0;}
header .head-top {padding:0;}
header .navbar>.container .navbar-brand,header .navbar>.container-fluid .navbar-brand {margin:0;}
header .navbar-left, header .navbar-right{float:none!important;}
header input.input-big {padding:10px}
header .navbar-toggle{display:block;}
header .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
header .navbar-fixed-top{top:0;border-width:0 0 1px;}
header .navbar-collapse.collapse{display:none!important;}
header .navbar-nav{float:none!important;margin-bottom:7.5px;}
header .navbar-nav>li{float:none;}
header .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
header .navbar-default .navbar-toggle {border:0;margin-right:0;padding:25px 10px 10px;}
header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background:transparent;}
header .navbar-default .navbar-toggle .icon-bar {background-color:#454545;}
header .collapse.in{display:block!important;}
  /* Mobile Nav Toggle */
header .navbar {padding:0;min-height:160px;}
header .btn-category a.buttonselect span {display:none;}
header .btn-category a.buttonselect {width: 60px;padding: 0;top: -18px;left: -15px;border-radius: 5px;height: 72px;}
header .btn-category a.buttonselect:before {left: 16px;top: 26px;}
header .btn-category .dropdown-menu {margin:55px -15px;}
header .btn-category {margin:5px 0;}
header a.navbar-brand img {width:175px;height:70px;}
header .head-search .search-panel {display:none;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
header .nav>li>a {padding:10px 5px;}
header ul.navbar-center {text-align:left;}
header .navbar-nav>li>a {font-size:12px;padding:10px 5px;}
header .navbar-services {text-align:right;margin-top:5px;}
header .navbar-center {margin-top:0;}
header .head-search {margin-top: 5px;padding:14px;}
header .head-search .shop-icons .subtotal {font-size:15px;text-align:right;}
header .head-search .preferiti .num {display:none;}
}
/* Tablet Landscape */
@media only screen and (min-width:960px) and (max-width:1199px){
header .navbar>.container .navbar-brand, header .navbar>.container-fluid .navbar-brand {margin:20px 0;}
header .navbar {padding:0;min-height:160px;}
header .navbar-center {margin-top:35px;}
header .nav>li>a {padding:10px 5px;}
header .navbar-services {margin:37px 0 0;}
header .navbar-services a {margin:0;}
header .btn-category a.buttonselect {font-size:14px;padding:33px 15px 15px 52px;}
header .btn-category a.buttonselect span {display:none;}
header .navbar-services a {text-align:right;}
header a.navbar-brand img {width:175px;height:70px;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
header .nav>li>a {padding:10px 5px;}
header .navbar-nav>li>a {font-size:12px;padding:10px 5px;}
header .head-top {padding:0;}
header .head-search {margin-top:5px;padding:13px 0;}
header .head-search .preferiti .num {display:none;}
}













.header {
  padding: 30px 20px;
  background-color: var(--color-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-btn {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.btn-support {
  margin-left: 170px;
  border: 1px solid var(--color-Bordes) !important;
  background-color: transparent !important;
  border-radius: 0px;
}

.btn-support:hover {
  background-color: var(--color-Botton-correo) !important;
  color: var(--color-cuarto);
  border: 1px solid var(--color-cuarto) !important;
}
.bton-Whatsapp {

  background-color: var(--button-principal) !important;
  border-radius: 0px;
  margin-right: 170px;
}

.bton-Whatsapp:hover {
  background-color: var(--color-hover-whatsapp) !important;
  color: var(--color-cuarto);
}

.navbar {
  background-color: var(--color-principal)!important;

}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar-brand img {
  margin-left: 30px;
  width: 100%;
}

.iconos-1 {
  display: flex;
  align-items: center;
}


.iconos-1 .nav-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.iconos-2 {
  display: flex;
  align-items: center;
}


.iconos-2 .nav-item {
  display: flex;
  align-items: center;
  margin-right: 120px;
}

.iconos-1,
.nav-link i,
.iconos-2,
.nav-link i {
  color: #ffffff;
}
.nav-item span {
  margin-left: 10px;
}

.navbar-navegación.ml-auto {
  margin-left: 85px;
}
/* Estilos normales */
.navbar-navegación a {
  text-decoration: none;
  color: var(--color-cuarto); 
  transition: color 0.3s ease; 
  margin-left: 50px;
}
/* Efectos de hover */
.navbar-navegación a:hover {
  color: var(--color-Bordes); 
}
.navbar-navegación a {
  position: relative;
  transition: transform 0.3s ease; 
}
.navbar-navegación a:hover {
  transform: translateY(-5px);
}

.nav-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  margin-right: 150px;
}

.nav-sociales li {
  margin-right: 20px; 
}

.nav-sociales a {
  text-decoration: none;
  color: inherit;
}

.container-fluid-01{
  background-image: linear-gradient(rgba(0, 0, 0, 0.587), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-quienes-somos.jpg);
  background-size: cover;
  background-position: center center;
  background-color: var(--color-main);


}

.container-fluid-01 h1{
 font-size: 50px;
margin: 60px;
text-align: left;
margin-top: 80px;
}

.container-fluid-01 p{
 margin: 60px;
 text-align: left;
 line-height: 1.6;
 font-size: 16px;
 margin-top: 50px;
 }
 
.container-fluid-01 video{
 width: 40%;
 margin-bottom: 40px;
 margin-left: 35%;


}
.container-fluid-02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.555)), url(../images/BG/BG-info-local.jpg);
  background-size:contain;
  background-position: center center;
  width: 100%;
}
.container-fluid-02 .info-ico{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}
.container-fluid-02 img {
  width: 50px;
  margin: 0 40px; 
}

.container-fluid-02 p {
  display: inline-block; 
  margin: 0; 
  vertical-align: middle; 
}
.contenedor-info-02{
  background-image: linear-gradient(rgba(0, 0, 0, 0.639), rgba(0, 0, 0, 0.376)), url(../images/BG/BG-info-local.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
}
.info-local {
  flex: 1; 
}

.contenedor-info-local {
  flex: 1; 
  padding: 0 20px; 
}

.info-text {
  text-align: left; 
  margin-top: 50px;
  color: var(--color-cuarto);
}
.info-text p{
  line-height: 1.6;
  font-size: 16px;
  margin-top: 50px;
}

.info-text .btn-container{
margin-top: 30px;
}
.info-local img{
  margin-bottom: 50px;
  margin-left: 50px;
  width: 300px;
  height: auto;
  margin-top: 50px;
}

.container-top-10 {
  background-image: url(../images/BG/BG-top-10.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.info-textos {
  padding-top: 50px;
}

.info-textos p{
  color: var(--color-principal);
}

/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;

}
.carousel-inner img {
  width: 25% !important;
  height: auto;
}

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     width: 40px;
     height: 50px;
     color: var(--color-logo);
}

 .carousel-control-prev{
  margin-left: 50px;
  background-color: var(--color-logo);
  width: auto;
  height: 50px;
  margin-top: 160px;
 }
 .carousel-control-next {

     background-color: var(--color-logo);
     margin-right: 50px;
     width: auto;
     height: 50px;
     margin-top: 160px;
 }

  .platos-10 {
    margin-left: auto;

}
.platos-10 img {
    width: 80%;

    border-radius: 10px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 120px;
}

.info-top {
    text-align: left;
    margin-top: 130px;
    margin-left: 300px;
    width: 100%;
    margin-bottom: 20px;

}

.info-top h4 {
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    font-size: 35px;

}

.info-top p {
    margin-bottom: 20px;
    color: var(--color-principal);
    width: 100%;
    margin-left: 0px;

}
/* // banner ubicacion */
  .container-fluid-04 {

      margin-top: auto;
      padding: 0px;
}

 .container-banner-ubicacion {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
}
.container-banner-ubicacion img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .container-ico-u{
    position: absolute;
 }

  .icon-ubicación {
    position: absolute;
    top: 2830px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .icon-ubicación i {
    font-size: 130px;
    margin-bottom: 10px;
  }
  
/* fin banner ubicacion */
.container-medios-de-pagos {
  background-color: var(--color-cuarto);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.medios-de-pago img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
  margin-top: 50px;
}

.contenedor-nuestros-clientes {
  text-align: center;
  padding: 50px 0;
  color: var(--color-cuarto);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  background-image: url(../images/BG/BG-restaurant\.jpg);
  padding-top: 50px;
  z-index: 1;

}
.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;

}

.clientes-info {
  margin-bottom: 10px;
  margin-top: 10px;
}

.clientes-info img {
  width: 50%;
}

.clientes-info h2 {
  font-size: 2em;
  margin: 0;
}

.clientes-info p {
  font-size: 1.2em;
  margin: 0;
}

.tarjeta-1,
.tarjeta-2,
.tarjeta-3 {
  width: 300px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.528);
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.tarjeta-1 img,
.tarjeta-2 img,
.tarjeta-3 img{
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
}
.contenido {
  padding: 20px;
}

.contenido h2 {
  font-size: 1.5em;
}

.contenido span {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}

.contenido hr {
  border: 1px solid white;
  margin: 10px 0;
}

.contenido p {
  font-size: 16px;
  width: 70%;
  text-align: center;
  padding-top: 10px;
  align-items: center;
  margin: auto;
}

/* Estilos generales */
.reservaciónes {

  background-image: url(../images/BG/BG-restaurant\.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-reserva {
  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.container-reserva h2 {
  margin-bottom: 20px;
  color: var(--color-cuarto);

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;

}
.field {
  margin-bottom: 15px;
  width: 100%;
  margin-right: 10px;
  background-color: transparent;
  color: var(--color-cuarto);
}
.field-date {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;

}
input,
select {
  padding: 4px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
select {
  height: 38px;
  background-color: transparent;
  color: var(--color-cuarto);
}
.submit button {
  background-color: var(--color-logo);
  color: var(--color-cuarto);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;/
}

.submit button:hover {
  background-color: var(--color-Secundario);
}

.first-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.second-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sections {
  width: 30%;
  margin-bottom: 15px;
}

/** banner-video **/
.contenedor-banner-video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.757), rgba(0, 0, 0, 0.44)), url(../images/Nuestra-carta/banner-video.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 80vh;
  display: flex;
  align-items: center;

}
.banner-video {
  width: 60vw; 
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
video {
  width: 100vw; 
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0; 
}
video[poster] {
  max-width: 100%;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  max-width: 600px; 
  z-index: 2;
}

.overlay h1 {
  font-size: 4vw; 
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.overlay p {
  font-size: 16px; 
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}


/** fin banner-video **/

/** tarjetas producto-info **/
.contenedor-card {

  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Barra search */
.contenedor-menu {
max-width: 100%;
  margin: 0 auto;
padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;

}

.search-container {
display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 20px 0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

i.fa-search {
  font-size: 16px;
  margin-left: -40px;
}


i.fa-search {
  color: #000000;
  cursor: pointer;
}

i.fa-search:hover {
  color: var(--button-principal);
}

/* Fin Barra search */

.menu-categorias {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
}

.menu-categorias li {
  margin: 0 10px; 
}

.menu-categorias a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.202);
  color: var(--color-cuarto);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid var(--color-cuarto);
}


.menu-categorias a:hover {
  background-color: var(--color-Bordes);
}


select:focus {
  border-color: var(--color-Bordes);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pagination {
  margin: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

button.prev,
button.next {
  background-color: #d7d7d7;
  color: #000000;
}

button:hover {
  background-color: var(--button-principal);
}

button.prev:hover,
button.next:hover {
  background-color: var(--color-rojo-puro);
}
.product-card {
  width: calc(100% - 20px); 
  height: auto; 
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; 
  background: var(--color-puro);
  position: relative;
}


.badge {
  position: absolute;
  left: 10px; 
  top: 20px; 
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: var(--color-rojo-puro);
  color: var(--color-cuarto);
  padding: 3px 20px;
  border-radius: 1px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px;
  background: #000000;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 10px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: var(--color-cuarto);
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 10px;
}

.product-details h4 a:hover {
  color: var(--color-Bordes);
}

.product-details p {
  line-height: 22px;
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
  
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
 
  color: var(--color-rojo-puro);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 3px;
}

.product-links {
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}


.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: var(--color-Bordes);
}



/** quienes somos contenedor **/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  padding: 20px;
}

.gallery .image-container {
  width: calc(40% - 10px); 
  margin-bottom: 10px; 
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gallery .image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.text {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}





/* Estilos para el contenedor principal */
.contenedor-banner-video-2 {
  display: flex;
  background-color: var(--color-puro);
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
}

/* Estilos para el video a la izquierda */
.banner-video-02 {
  width: 50%; 
}

.texto-banner {
  width: 50%; 
  padding: 20px; 
  box-sizing: border-box; 
}

.texto-banner h1{
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

.texto-banner p{
  font-size: 16px;
  line-height: 1.6;
  margin-top: 50px;
  text-align: center;
text-transform:capitalize;
width: 100%;

}



.texto-Quienes-somos h1,
.texto-Quienes-somos p {
  position: relative;
  z-index: 2;
}

.contenedor-quienes-somos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-color: #1F242C;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 10vh;
  padding: 20px;
}

.quienes-somos h2 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: 40px 0;
  margin-top: -10px;
}

.quienes-somos h3 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: -10px 0;
  margin-top: -30px;
  font-size: 23px;
}

.Imagen-banner {
  background-color: #000;
  width: 100%;
}

.Imagen-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  min-height: 200px;
}

.quienes-somos p {
  text-align: start;
  margin: 30px auto;
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
}

/** fin quienes somos contenedor **/

/** blog-img **/
.blog h3,
p{
  color: var(--color-cuarto);
  
}


/** Fin blog-img **/


/** nuestros locales **/

.locales-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  padding: 20px;
}

.local-card {
  width: calc(40% - 0px); 
  margin-bottom: 10px; 
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.local-card img{
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
.local-card:hover {
  transform: scale(1.1);
}






.loacales-BG {
  background-image: url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 15vh;
  padding: 100px;
  margin: 0;
}

.contenedor-tarjetas-orden {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  padding: 20px;
}

.contenedor-tarjetas-contacto h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -90px;
  font-size: 50px;
}

.contenedor-tarjetas-contacto p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -30px;
}

.tarjeta-info {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: calc(75% - 10px);
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 215px;
  max-width: 100%;
}

.imagen-tarjeta img {
  width: 573px;
  height: 100%;
  margin-top: 5px;
  object-fit: contain;
  margin-left: 80px;
}

.detalle-tarjeta {
  flex: 3;
  padding: 20px;
  text-align: left;
}

.detalle-tarjeta h3 {
  margin: 20px 0 0;
  font-size: 20px;
  color: var(--size-encabezados);
}


.detalle-tarjeta p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #292E36;
}

.detalle-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detalle-item i {
  margin-right: 10px;
  color: #E1B168;
}

/** fin nuestros locales **/


/** formulario de contacto **/

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}






/** fin formulario de contacto **/

/** mapa **/

.texto-contenedor {
  padding: 10px;
  z-index: 2;
  margin: 0px;
  background-image: url(../images/BG/BG-restaurant.jpg);

}

.texto-mapa h3 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}

.texto-mapa p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: -10px;
}

.container-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
}

.maps-iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

/** fin mapa **/


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/* footer-------------------------------------------------------------------------------------------------- */

footer {
  background-color: var(--color-principal) !important;
  text-align: center;
  width: 100%;
  height: auto;
}

footer img{
  width: 200px;
  margin-top: 30px;
}
footer .social-icons a {
  color: var(--color-cuarto);
  font-size: 20px;
  margin: 0 10px;
}


 footer h4 {
  margin-bottom: 0; 
  text-align: center;
  color: var(--color-cuarto);
  font-size: 22px;
}
footer p {
 color: var(--color-Bordes);
  text-align: center;
 font-size: 16px;
}

.footer-contacto {
  margin-top: 150px;
  width: 100%;
}
.footer .copyright{
  margin-bottom: 20px;
}

.subscribete-form {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin: 0;
}

.subscribete-form input {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.subscribete-form button {
  background-color: var(--button-principal);
  color: var(--color-cuarto);
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  width: auto; 
  margin-left: 235px;
  margin-top: -57px;
}



/* media queries----------------------------------------------------------------------------------------------- */
@media screen and (min-width:1050px)and (max-width:1202px){
  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 400px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .container-fluid-01 video{
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 40px;
  
   
   }

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 125px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }


  
  .navbar-navegación {
    width: 100%;
    margin-top: -70px; 
  
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 30px;
   margin-left: -20px;
   transform: translate(-280%);
    
  }


  /* // banner ubicacion */
  .icon-ubicación {
    top: 2980px;
   }

   .overlay-container {
    position: absolute;
    top: 70%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Ajusta según sea necesario */
    z-index: 2;
  }
  
  .overlay-container h1 {
    font-size: 30px; /* Ajusta según sea necesario */
    margin: 0;
  }
  
  .overlay-container p {
    font-size: 18px; /* Ajusta según sea necesario */
    margin-top: 0px;
    margin-bottom: 0;
  }


.product-card {
  width: calc(100% - 20px); /* Ancho del 100% menos el margen */
  height: auto; /* Altura automática para adaptarse al contenido */
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; /* Ajusta el margen según tus necesidades */
  background: var(--color-puro);
}

.product-tumb {
  height: auto;
  padding: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  margin-bottom: 10px;
}

.product-details h4 a {
  margin-bottom: 10px;
}

.product-details p,
.product-price,
.product-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  margin-right: 3px;
}


}

@media screen and (min-width:993px) and (max-width:1049px){
  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 400px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 345px; 
  
    margin-top: -40px;
  }
  
  .navbar-navegación {
    width: 100%;
    margin-top: -70px; 
  
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 30px;
   margin-left: -20px;
   transform: translate(-280%);
    
  }
  .container-fluid-01 video{
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 40px;
  }
   
   

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 100px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }
 
  /* Estilos para el carrusel */

   .carousel-control-prev,
   .carousel-control-next {
  
    margin-top: 100px;
   }

  .info-top {
   margin-top: 60px;
   margin-left: 260px;
  }
  

  /* // banner ubicacion */
  .icon-ubicación {
  top: 2980px;
 }

 .banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */

}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}


.product-card {
  width: calc(100% - 20px); /* Ancho del 100% menos el margen */
  height: auto; /* Altura automática para adaptarse al contenido */
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; /* Ajusta el margen según tus necesidades */
  background: var(--color-puro);
}

.product-tumb {
  height: auto;
  padding: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  margin-bottom: 10px;
}

.product-details h4 a {
  margin-bottom: 10px;
}

.product-details p,
.product-price,
.product-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  margin-right: 3px;
}




}
@media screen and (min-width:768px) and (max-width:992px) {

  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 265px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 345px; 
  
    margin-top: -40px;
  }
  
  .navbar-navegación {
    width: 100%;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 10px;
   margin-left: 330px;
    
  }
  
  .navbar-navegación li {
    margin-bottom: 10px; 
    margin-right:250px
  }
  .container-fluid-01 video {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 40px;
  }

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 100px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }
 
  /* Estilos para el carrusel */

   .carousel-control-prev,
   .carousel-control-next {
  
    margin-top: 100px;
   }

  .info-top {
   margin-top: 60px;
   margin-left: 260px;
  }
  

  /* // banner ubicacion */
  .icon-ubicación {
  top: 3450px;
 }

 .banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */

}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}


.product-card {
  width: calc(100% - 20px); /* Ancho del 100% menos el margen */
  height: auto; /* Altura automática para adaptarse al contenido */
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; /* Ajusta el margen según tus necesidades */
  background: var(--color-puro);
}

.product-tumb {
  height: auto;
  padding: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  margin-bottom: 10px;
}

.product-details h4 a {
  margin-bottom: 10px;
}

.product-details p,
.product-price,
.product-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  margin-right: 3px;
}
    
}










@media screen and (min-width:576px) and (max-width:767px) {

  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }
.navbar-brand img {
    margin-left: 170px;
    margin-top: -200px;
  
  }

  .btn-support{
 
    margin: 10px 0;
    margin-top: 70px;
  }
  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 248px; 
    margin-right: auto; 
    display: block;
    margin-top: -35px;
  }
  
  .navbar-navegación {
    width: 47%;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }

  .navbar-navegación li {
    margin-bottom: 10px;
    margin-left: 35px;
 
  }

  .nav-sociales ul {
    margin-top: 20px;
    margin-left: 230px; 
    margin-right: auto; 
  }
  .container-fluid-01 video {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 40px;
  }

  .container-fluid-02 .info-ico{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 50px;
 
  }
 
  .container-fluid-02 .info-ico img{
    margin-top: 10px;
  }

  .container-fluid-02 .info-ico p{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
}

.contenedor-info-02{

  width: 100%;
  flex-direction: column;
}

.info-text {
margin-bottom:50px;

width: 100%;
}

.info-text h2 {
margin-top: -80px;
margin-left: 140px;
text-align: center;
width: 100%;
font-size: 35px;

}

.info-text p{
margin-left: 140px;
width: 100%;
text-align: center;
}

.info-text .btn-container{
margin-top: 30px;
margin-left: 140px;
width: 100%;
}


.info-local img{

  margin-bottom: 50px;
  margin-left: 140px;
  height: auto;

}

.container-top-10{
  width: 100%;
}
/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 40%;
  margin: auto;
  margin-top: 80px;
}

.carousel-inner img {
  width: 100% !important;
  height: auto;
}
.carousel-control-prev{
  margin-left: 20px;

 }
 .carousel-control-next {
  margin-right: 20px;
  }
.platos-10 {
    margin-left: auto;
}

.platos-10 img {
  margin-top: 30px; 
  margin-bottom: 10px;
  width: 50%;
margin-right: 50px;

}

.info-top {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}
.info-top h4{
  text-align: center;
}
.info-top p{
  text-align: center;
  font-size: 16;
}

.btn-container{
  text-align: center;
}


.container-banner-ubicacion {
position: relative;
overflow: hidden;
width: 100%;
height: auto;
}

.container-banner-ubicacion img {
width: 100%;
height: 100%;
object-fit: cover;
}

.icon-ubicación {
position:absolute;
top: 580%; 
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;

}

.medios-de-pago img {
width: 50%;
object-fit: cover;
margin: 145px;
margin-top: 30px;
}

form {
width: 60%;
}

.banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */
}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}


.product-card {
  width: calc(100% - 20px); /* Ancho del 100% menos el margen */
  height: auto; /* Altura automática para adaptarse al contenido */
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; /* Ajusta el margen según tus necesidades */
  background: var(--color-puro);
}

.product-tumb {
  height: auto;
  padding: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  margin-bottom: 10px;
}

.product-details h4 a {
  margin-bottom: 10px;
}

.product-details p,
.product-price,
.product-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  margin-right: 3px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper > * {
  padding: 2em;
}

.company-info {
  border-radius: 4px 0 0 4px;
}

.contact {
  border-radius: 0 4px 4px 0;
}

.company-info h3,
.company-info ul,
.brand {
  text-align: left;
}

}






























@media screen and (min-width:320px) and (max-width:575px) {
/* Estilos para pantallas pequeñas (móviles) */

  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }
.navbar-brand img {
    margin-left: 130px;
    margin-top: -200px;
  
  }

  .btn-support{
 
    margin: 10px 0;
    margin-top: 70px;
  }
  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 210px;
    margin-right: auto;
    display: block;
    margin-top: -35px;
  }
  
  .navbar-navegación {
    width: 47%;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }

  .navbar-navegación li {
    margin-bottom: 10px;
 
  }

  .nav-sociales ul {
    margin-top: 20px;
    margin-left: 195px;

  }
  .container-fluid-01 video {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 40px;
  }

  .container-fluid-02 .info-ico{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 50px;
 
  }
 
  .container-fluid-02 .info-ico img{
    margin-top: 10px;
  }

  .container-fluid-02 .info-ico p{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
}

.contenedor-info-02{

  width: 100%;
  flex-direction: column;
}

.info-text {
margin-bottom:50px;
margin-left: 25px;
}

.info-text h2 {
margin-top: -80px;

  }

.info-local img{

  margin-bottom: 50px;
  margin-left: 100px;
  height: auto;

}

.container-top-10{
  width: 100%;
}
/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;
}

.carousel-inner img {
  width: 100% !important;
  height: auto;
}
.carousel-control-prev{
  margin-left: 20px;

 }
 .carousel-control-next {
  margin-right: 20px;
  }
.platos-10 {
    margin-left: auto;
}

.platos-10 img {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.info-top {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}
.info-top h4{
  text-align: center;
}
.info-top p{
  text-align: center;
  font-size: 16;
}

.btn-container{
  text-align: center;
}

.container-banner-ubicacion {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.container-banner-ubicacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-ico-u{
  position: absolute;
}
.icon-ubicación {
  position:absolute;
  top: 560%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;

}

.medios-de-pago img {
width: 60%;
  object-fit: cover;
  margin-left: 100px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;

}

.subscribete-form button {

  margin-left: 240px;
  margin-top: -57px;
}


.banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  z-index: 2;
}

.overlay-container h1 {
  font-size: 24px; 
  margin: 0;
}

.overlay-container p {
  font-size: 12px; 
  margin-top: 10px;
  margin-bottom: 0;
}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}


.product-card {
  width: calc(100% - 20px); 
  height: auto; 
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px; 
  background: var(--color-puro);
}

.product-tumb {
  height: auto;
  padding: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  margin-bottom: 10px;
}

.product-details h4 a {
  margin-bottom: 10px;
}

.product-details p,
.product-price,
.product-links {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price small {
  margin-right: 3px;
}

.blog h3{
  font-size: 30px;
}
.blog p{
  color: var(--color-cuarto);
  font-size: 16px;
  
}

.contenedor-banner-video-2 {
  display: flex;
  flex-direction: column; 
  background-color: var(--color-puro);
  
}

/* Estilos para el video a la izquierda */
.banner-video-02 {
  width: 100%; 
 margin-top: 30px;
}

/* Estilos para el título y el párrafo a la derecha */
.texto-banner {
  width: 100%; 
  padding: 20px; 
  box-sizing: border-box; 
}
.gallery .image-container {
  width: 100%; /* En dispositivos móviles, ocuparán el 100% del ancho */
}
}


/** boton subir**/
.subir {
  height: 40px;
  width: 40px;
  background-color: var(--button-principal);
  color: var(--button-principal);
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  border-radius: 1%;
  box-shadow: 2px 2px 5px #000;
  z-index: 3;

}

.subir svg {
  margin-top: 0px;
  margin-left: 5px;
  font-size: 20px;
  transform: translateX(-15%);

}