* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden; /* Esto ocultará el scroll horizontal */
}

:root {
  /* -- Nombre: valor;
--palabrauno-palabrados:valor; */
  --color-principal: #1F242C;
  --color-main: #292E36;
  --color-Secundario: #af8546;
  --color-Terciario: #4CAF50;
  --color-hover-whatsapp: #248e27;
  --color-cuarto: #ffffff;
  --color-Bordes: #E1B168;
  --color-logo: #B43123;
  --box-shadow: #000;
  --color-Botton-correo: #0072c6;
  --button-principal: #E1B168;
  --button-cancel: #B43123;
  --button-disabled: #292E36;
  --size-encabezados: 50px;
  --size-parrafos: 16px;
}
.btn-primary {
  background-color: var(--button-principal) !important;
  border-color: var(--color-cuarto);
  color: var(--color-cuarto);
}

.btn-primary:hover {
  background-color: var(--color-Secundario) !important;
  border-color: var(--color-cuarto);
  color: var(--color-cuarto);
}


.post-header {
  background-color: var(--color-principal) !important;
}



.header {
  padding: 30px 20px;
  background-color: var(--color-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container-btn {
  margin-right: auto;
  display: flex;
  align-items: center;

}


.btn-support {
  margin-left: 170px;
  border: 1px solid var(--color-Bordes) !important;
  background-color: transparent !important;
  border-radius: 0px;
}

.btn-support:hover {
  background-color: var(--color-Botton-correo) !important;
  color: var(--color-cuarto);
  border: 1px solid var(--color-cuarto) !important;

}

.bton-Whatsapp {

  background-color: var(--button-principal) !important;
  border-radius: 0px;
  margin-right: 170px;
}

.bton-Whatsapp:hover {
  background-color: var(--color-hover-whatsapp) !important;
  color: var(--color-cuarto);
}

.navbar {
  background-color: var(--color-principal)!important;

}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar-brand img {
  margin-left: 30px;
  width: 100%;
}

.iconos-1 {
  display: flex;
  align-items: center;
}


.iconos-1 .nav-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.iconos-2 {
  display: flex;
  align-items: center;
}


.iconos-2 .nav-item {
  display: flex;
  align-items: center;
  margin-right: 120px;
}

.iconos-1,
.nav-link i,
.iconos-2,
.nav-link i {
  color: #ffffff;
}
.nav-item span {
  margin-left: 10px;
}

.navbar-navegación.ml-auto {
  margin-left: 85px;
}
/* Estilos normales */
.navbar-navegación a {
  text-decoration: none;
  color: var(--color-cuarto); 
  transition: color 0.3s ease; 
  margin-left: 50px;
}
/* Efectos de hover */
.navbar-navegación a:hover {
  color: var(--color-Bordes); 
}
.navbar-navegación a {
  position: relative;
  transition: transform 0.3s ease; 
}


.navbar-navegación a:hover {
  transform: translateY(-5px);
}

.nav-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  margin-right: 150px;
}

.nav-sociales li {
  margin-right: 20px; 
}

.nav-sociales a {
  text-decoration: none;
  color: inherit;
}




.container-fluid-01{
  background-color: var(--color-main);

}

.container-fluid-01 h1{
 font-size: 50px;
margin: 60px;
text-align: left;
}

.container-fluid-01 p{
 margin: 60px;
 text-align: left;
 line-height: 1.6;
 font-size: 16px;
 }
 
.container-fluid-01 img{
 width: 50%;
 margin-bottom: 40px;
 margin-left: 35%;

}
.container-fluid-02 {
  background-image: url(../images/BG/BG-info-local.jpg);
  background-position: center;
  width: 100%;
}
.container-fluid-02 .info-ico{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;


}
.container-fluid-02 img {
  width: 50px;
  margin: 0 40px; 

}

.container-fluid-02 p {
  display: inline-block; 
  margin: 0; 
  vertical-align: middle; 
}
.contenedor-info-02{
  background-image: url(../images/BG/BG-info-local.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
}
.info-local {
  flex: 1; 
}

.contenedor-info-local {
  flex: 1; 
  padding: 0 20px; 
}

.info-text {
  text-align: left; 
  margin-top: 50px;
  color: var(--color-cuarto);
}
.info-text p{
  line-height: 1.6;
  font-size: 16px;
  margin-top: 50px;
}

.info-text .btn-container{
margin-top: 30px;
}
.info-local img{
  background-image: url(../images/BG/BG-info-local.jpg);
  background-size: cover;
  background-position: center;

  margin-bottom: 50px;
  margin-left: 50px;
  width: 300px;
  height: auto;
  margin-top: 50px;
}

.container-top-10 {
  background-image: url(../images/BG/BG-top-10.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;

}
.info-textos {
  padding-top: 50px;
}

.info-textos p{
  color: var(--color-principal);
}

/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;

}
.carousel-inner img {
  width: 25% !important;
  height: auto;
}

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     width: 40px;
     height: 50px;
     color: var(--color-logo);
}

 .carousel-control-prev{
  margin-left: 50px;
  background-color: var(--color-logo);
  width: auto;
  height: 50px;
  margin-top: 160px;
 }
 .carousel-control-next {

     background-color: var(--color-logo);
     margin-right: 50px;
     width: auto;
     height: 50px;
     margin-top: 160px;
 }

  .platos-10 {
    margin-left: auto;

}
.platos-10 img {
    width: 80%;

    border-radius: 10px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 120px;
}

.info-top {
    text-align: left;
    margin-top: 130px;
    margin-left: 300px;
    width: 100%;
    margin-bottom: 20px;

}

.info-top h4 {
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    font-size: 35px;

   
}

.info-top p {
    margin-bottom: 20px;
    color: var(--color-principal);
    width: 100%;
    margin-left: 0px;

}
/* // banner ubicacion */
  .container-fluid-04 {

      margin-top: auto;
      padding: 0px;

  }

 .container-banner-ubicacion {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
}
.container-banner-ubicacion img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .container-ico-u{
    position: absolute;
 }

  .icon-ubicación {
    position: absolute;
    top: 2750px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .icon-ubicación i {
    font-size: 130px;
    margin-bottom: 10px;
  }
  
/* fin banner ubicacion */
.container-medios-de-pagos {
  background-color: var(--color-cuarto);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.medios-de-pago img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
  margin-top: 50px;
}

.contenedor-nuestros-clientes {
  text-align: center;
  padding: 50px 0;
  color: var(--color-cuarto);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  background-image: url(../images/BG/BG-restaurant\.jpg);
  padding-top: 50px;
  z-index: 1;

}
.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;

}

.clientes-info {
  margin-bottom: 10px;
  margin-top: 10px;
}

.clientes-info img {
  width: 50%;
}

.clientes-info h2 {
  font-size: 2em;
  margin: 0;
}

.clientes-info p {
  font-size: 1.2em;
  margin: 0;
}

.tarjeta-1,
.tarjeta-2,
.tarjeta-3 {
  width: 300px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.528);
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.tarjeta-1 img,
.tarjeta-2 img,
.tarjeta-3 img{
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
}
.contenido {
  padding: 20px;
}

.contenido h2 {
  font-size: 1.5em;
}

.contenido span {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}

.contenido hr {
  border: 1px solid white;
  margin: 10px 0;
}

.contenido p {
  font-size: 16px;
  width: 70%;
  text-align: center;
  padding-top: 10px;
  align-items: center;
  margin: auto;
}

/* Estilos generales */
.reservaciónes {

  background-image: url(../images/BG/BG-restaurant\.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-reserva {
  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;


}

.container-reserva h2 {
  margin-bottom: 20px;
  color: var(--color-cuarto);

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;

}
.field {
  margin-bottom: 15px;
  width: 100%;
  margin-right: 10px;
  background-color: transparent;
  color: var(--color-cuarto);
}
.field-date {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;

}
input,
select {
  padding: 4px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
select {
  height: 38px;
  background-color: transparent;
  color: var(--color-cuarto);
}
.submit button {
  background-color: var(--color-logo);
  color: var(--color-cuarto);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;/
}

.submit button:hover {
  background-color: var(--color-Secundario);
}

.first-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.second-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sections {
  width: 30%;
  margin-bottom: 15px;
}

/** banner-video **/
.contenedor-banner-video {
  background-image: url(../images/Nuestra-carta/banner-video.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 80vh;
  display: flex;
  align-items: center;

}
.banner-video {
  width: 65%; /* Ajusta según sea necesario */
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
video {
  width: 80%; /* 100% del ancho del contenedor */
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

video[poster] {
  max-width: 100%;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 100%; /* Ajusta según sea necesario */
  max-width: 600px; /* Ajusta según sea necesario */
  z-index: 2;
}

.overlay h1 {
  font-size: 4vw; /* Ajusta según sea necesario */
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.overlay p {
  font-size: 16px; /* Ajusta según sea necesario */
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}


/** fin banner-video **/

/** tarjetas producto-info **/
.contenedor-card {
  background-image: url(../images/BG/BG-nuestra-carta.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}

/* Barra search */
.contenedor-menu {
  background-image: url(../images/BG/BG-nuestra-carta.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;

}

.search-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 20px 0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

i.fa-search {
  font-size: 16px;
  margin-left: -40px;
}


i.fa-search {
  color: #000000;
  cursor: pointer;
}

i.fa-search:hover {
  color: #E1B168;
}

/* Fin Barra search */

.menu-categorias {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
}

.menu-categorias li {
  margin: 0 10px; /* Espaciado entre elementos */
}

.menu-categorias a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.202);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #fff;
}


.menu-categorias a:hover {
  background-color: #E1B168;
}


select:focus {
  border-color: #C09147;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.texto-card {
  background-image: url(../images/BG/BG-nuestra-carta.jpg);
  background-color: rgb(0, 0, 0);
  padding: 10px;
}


.card-info {
  background-color: #B43123;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-info img {
  width: 350px;
  height: 220px;
  border-radius: 5px 5px 0 0;
}

.card-info .contenido-tarjeta {
  padding: 10px;
}

.card-info .contenido-tarjeta h3 {
  margin: 0;
  font-size: 25px;
  color: #d7d7d7;
}

.card-info .contenido-tarjeta p {
  margin: 0;
  font-size: 16px;
}

.pagination {
  margin: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

button.prev,
button.next {
  background-color: #d7d7d7;
  color: #000000;
}

button:hover {
  background-color: #E1B168;
}

button.prev:hover,
button.next:hover {
  background-color: #B43123;
}

/** fin tarjetas producto-info **/




/** quienes somos contenedor **/

.texto-Quienes-somos {
  background-color: #B43123;
  background-image: url(../images/BG/BG-restaurant.jpg);

  padding: 10px;
  z-index: 2;
  margin: 0px;
  z-index: 2;
}

.texto-Quienes-somos::before {
  content: "";
  position: absolute;
  top: 277px;
  left: 0;
  width: 100%;
  height: 18%;
  background-color: #B43123;
  opacity: 0.4;

  z-index: 1;
}

.texto-Quienes-somos h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  z-index: 2;
}

.texto-Quienes-somos p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: -10px;
  z-index: 2;
}

.texto-Quienes-somos h1,
.texto-Quienes-somos p {
  position: relative;
  z-index: 2;

}

.contenedor-quienes-somos {
  background-image: url(../images/BG/BG-quienes-somos.jpg);
  background-color: #1F242C;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 10vh;
  padding: 20px;
}

.quienes-somos h2 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: 40px 0;
  margin-top: -10px;
}

.quienes-somos h3 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: -10px 0;
  margin-top: -30px;
  font-size: 23px;
}

.contenido-fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #E1B168;
}

.Imagen-banner {
  background-color: #000;
  width: 100%;
}

.Imagen-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  min-height: 200px;
}

.quienes-somos p {
  text-align: start;
  margin: 30px auto;
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
}

/** fin quienes somos contenedor **/

/** blog-img **/
.contenedor-BG {
  background-image: url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 15vh;
  padding: 100px;
  margin: 0;
}

.titulo-parrafo h3 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -50px;
}

.titulo-parrafo p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -20px;
}

.contenedor-tarjetas-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta-blog {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 5px;
  margin-top: 0px;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tarjeta-blog img {
  max-width: 100%;
  width: 100%;
}

.contenido-tarjeta h3 {
  margin: 0;
  font-size: 25px;
  color: #ffffff;
  padding: 10px;
}

.contenido-tarjeta p {
  margin: 0;
  font-size: 16px;
  padding: 10px;
}

/** Fin blog-img **/


/** nuestros locales **/
.loacales-BG {
  background-image: url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 15vh;
  padding: 100px;
  margin: 0;
}

.contenedor-tarjetas-orden {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-tarjetas-contacto h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -90px;
  font-size: 50px;
}

.contenedor-tarjetas-contacto p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  margin-top: -30px;
}

.tarjeta-info {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: calc(75% - 10px);
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 215px;
  max-width: 100%;
}

.imagen-tarjeta img {
  width: 573px;
  height: 100%;
  margin-top: 5px;
  object-fit: contain;
  margin-left: 80px;
}

.detalle-tarjeta {
  flex: 3;
  padding: 20px;
  text-align: left;
}

.detalle-tarjeta h3 {
  margin: 20px 0 0;
  font-size: 20px;
  color: var(--size-encabezados);
}


.detalle-tarjeta p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #292E36;
}

.detalle-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detalle-item i {
  margin-right: 10px;
  color: #E1B168;
}

/** fin nuestros locales **/


/** formulario de contacto **/
.contenedor-formulario-contacto {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.formulario-izquierda {
  flex: 1;
  background-color: #FFF8F5;
  padding: 20px;
  text-align: center;
  color: #333;
}

.contacto-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacto-item i {
  background-color: #000;
  border-radius: 100%;
  padding: 10px;
  margin-right: 10px;
}

.contacto-item i {
  color: #fff;
  font-size: 18px;
}

.sociales-iconos i {
  margin-top: 20px;
  color: #000000;
  font-size: 28px;
  margin-right: 30px;
}

.formulario-derecha {
  max-width: 100%;
  margin: 0 auto;

}

.formulario-derecha h2 {
  color: #000000;
  text-align: center;
  margin-top: 50px;
}

.campo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
  flex: 0 0 45%;
  padding: 10px 15px;

}

.campo input[type="text"],
.campo input[type="Nom"],
.campo input[type="Email"],
.campo input[type="Suje"],
.campo input[type="Tel"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-top: 0px;
  border: 1.5px solid #101A24;
}

.mensaje-texto {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 15px;
}

.mensaje-texto label {
  display: block;
  margin-bottom: 2px;
}

.mensaje-texto textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1.5px solid #101A24;
  font-size: 16px;
  resize: none;
  margin-top: 0px;
}

.mensaje-texto textarea:focus {
  border-color: #B43123;
  outline: none;
}

.campo textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.label-input {
  width: 100%;
  padding: 40px 15px;
}

.textarea-input {
  width: 80px;
}

.input {
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.label-input {
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.textarea-input {
  height: 100%;

}

.botoncito-enviar {
  text-align: left;
  margin-top: 20px;
  margin: 0;
  padding-right: 12px;
  padding: 10px;
  margin-left: -8px;
}

.botoncito-enviar button {
  display: block;
  margin-top: 40px;
  padding: 10px 100px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 18px;
  background-color: #E1B168;
  color: #fff;
  border: 2px solid #E1B168;
  transition: background-color 0.3s ease;
  margin-left: 12px;
}

.botoncito-enviar button:hover {
  background-color: #D19A4D;
}

/** fin formulario de contacto **/

/** mapa **/

.texto-contenedor {
  padding: 10px;
  z-index: 2;
  margin: 0px;
  background-image: url(../images/BG/BG-restaurant.jpg);

}

.texto-mapa h3 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}

.texto-mapa p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: -10px;
}

.container-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
}

.maps-iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

/** fin mapa **/


/* footer-------------------------------------------------------------------------------------------------- */

footer {
  background-color: var(--color-principal) !important;
  text-align: center;
  width: 100%;
  height: auto;
}

footer img{
  width: 200px;
  margin-top: 30px;
}
footer .social-icons a {
  color: var(--color-cuarto);
  font-size: 20px;
  margin: 0 10px;
}


 footer h4 {
  margin-bottom: 0; 
  text-align: center;
  color: var(--color-cuarto);
  font-size: 22px;
}
footer p {
 color: var(--color-Bordes);
  text-align: center;
 font-size: 16px;
}

.footer-contacto {
  margin-top: 150px;
  width: 100%;
}
.footer .copyright{
  margin-bottom: 20px;
}

.subscribete-form {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin: 0;
}

.subscribete-form input {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.subscribete-form button {
  background-color: var(--button-principal);
  color: var(--color-cuarto);
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  width: auto; 
  margin-left: 235px;
  margin-top: -57px;
}



/* media queries----------------------------------------------------------------------------------------------- */
@media screen and (min-width:1050px)and (max-width:1202px){
  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 400px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .container-fluid-01 img{
    width: 80%;
    margin-bottom: 40px;
    margin-left: 1%;
   
   }

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 125px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }


  
  .navbar-navegación {
    width: 100%;
    margin-top: -70px; 
  
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 30px;
   margin-left: -20px;
   transform: translate(-280%);
    
  }


  /* // banner ubicacion */
  .icon-ubicación {
    top: 2980px;
   }

   .overlay-container {
    position: absolute;
    top: 70%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Ajusta según sea necesario */
    z-index: 2;
  }
  
  .overlay-container h1 {
    font-size: 30px; /* Ajusta según sea necesario */
    margin: 0;
  }
  
  .overlay-container p {
    font-size: 18px; /* Ajusta según sea necesario */
    margin-top: 0px;
    margin-bottom: 0;
  }


}

@media screen and (min-width:993px) and (max-width:1049px){
  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 400px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 345px; 
  
    margin-top: -40px;
  }
  
  .navbar-navegación {
    width: 100%;
    margin-top: -70px; 
  
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 30px;
   margin-left: -20px;
   transform: translate(-280%);
    
  }
  .container-fluid-01 img{
    width: 40%;
    margin-bottom: 40px;
    margin-left: 1%;
   
   }

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 100px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }
 
  /* Estilos para el carrusel */

   .carousel-control-prev,
   .carousel-control-next {
  
    margin-top: 100px;
   }

  .info-top {
   margin-top: 60px;
   margin-left: 260px;
  }
  

  /* // banner ubicacion */
  .icon-ubicación {
  top: 2980px;
 }

 .banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */

}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}




}
@media screen and (min-width:768px) and (max-width:992px) {

  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }

  .navbar-brand img {
    margin-left: 265px;
    margin-top: -180px;
  }

  .btn-support {
    margin: 10px 0;
    margin-top: 30px;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 345px; 
  
    margin-top: -40px;
  }
  
  .navbar-navegación {
    width: 100%;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-sociales ul {
    margin-top: 10px;
   margin-left: 330px;
    
  }
  
  .navbar-navegación li {
    margin-bottom: 10px; 
    margin-right:250px
  }
  .container-fluid-01 img{
    width: 40%;
    margin-bottom: 40px;
    margin-left: 1%;
   
   }

   .container-fluid-02 .info-ico{
    display:flex;
   }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 100px; 
  
  }
  
  .container-fluid-02 p {
  font-size: 16px;
  margin-left: 40px;
  width: 65%;
  text-align: center;
  margin-top: 20px;

  }
.info-text .btn-container{
  margin-top: 30px;
  margin-bottom: 40px;
  }
 
  /* Estilos para el carrusel */

   .carousel-control-prev,
   .carousel-control-next {
  
    margin-top: 100px;
   }

  .info-top {
   margin-top: 60px;
   margin-left: 260px;
  }
  

  /* // banner ubicacion */
  .icon-ubicación {
  top: 3450px;
 }

 .banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */

}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}
    
}










@media screen and (min-width:576px) and (max-width:767px) {

  .header {
    flex-direction: column;
    align-items: center;
}

.container-btn {
    margin-right: 0;
    margin-top: 20px;
  }

  .btn-support{
    margin-top: 50px;
    margin: 20px 0;
  }

  .bton-Whatsapp {
    margin: 10px 0;
  }

.navbar-brand img {
margin-left: 270px;
    margin-top: -180px;
}

.iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

.navbar-toggler {
  margin-left: 345px; 

  margin-top: -40px;
}

.navbar-navegación {
  width: 100%;
  margin-top: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-navegación li {
  margin-bottom: 10px; 
  margin-right:250px
}


.nav-sociales ul {
  margin-top: 10px; 
  margin-left:330px;
  margin-bottom: 10px; 
}

.container-fluid-01 img{
  width: 50%;
  margin-bottom: 40px;
  margin-left:0;
 
 }
 .container-fluid-02 .info-ico{
  display:flex;
 }
.container-fluid-02 img {
  width: 40px;
  margin: 0 100px; 

}

.container-fluid-02 p {
font-size: 16px;
margin-left: 40px;
width: 65%;
text-align: center;
margin-top: 20px;

}
.info-text .btn-container{
margin-top: 30px;
margin-bottom: 40px;
}

.carousel-control-prev,
.carousel-control-next {

 margin-top: 100px;
}



.platos-10 {
  margin-left: auto;
}

.platos-10 img {
  width: 30%;
margin-top: 20px; 
margin-bottom: 10px;
}

.info-top {
margin-top: 30px;

margin-bottom: 30px;
}


.container-banner-ubicacion {
position: relative;
overflow: hidden;
width: 100%;
height: auto;
}

.container-banner-ubicacion img {
width: 100%;
height: 100%;
object-fit: cover;
}

.icon-ubicación {
position:absolute;
top: 510%; 
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;

}

.medios-de-pago img {
width: 50%;
object-fit: cover;
margin-left: 190px;
margin-top: 30px;
}

.banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */

}

.overlay-container h1 {
  font-size: 30px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 18px; /* Ajusta según sea necesario */
  margin-top: 10px;

}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}

}































@media screen and (min-width:320px) and (max-width:575px) {
/* Estilos para pantallas pequeñas (móviles) */

  .header {
    flex-direction: column;
    align-items: center;
  }

  .container-btn {
    margin-right: 0;
    margin-top: 10px;
  }
.navbar-brand img {
    margin-left: 130px;
    margin-top: -200px;
  
  }

  .btn-support{
 
    margin: 10px 0;
    margin-top: 70px;
  }
  .bton-Whatsapp {
    margin: 10px 0;
  }

  .iconos-1,
  .iconos-2 {
    margin-right: 0;
    margin-top: 0px;
  }

  .iconos-1 .nav-item,
  .iconos-2 .nav-item {
    margin-right: 10px;
  }

  .navbar-toggler {
    margin-left: 210px;
    margin-right: auto;
    display: block;
    margin-top: -35px;
  }
  
  .navbar-navegación {
    width: 47%;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }

  .navbar-navegación li {
    margin-bottom: 10px;
 
  }

  .nav-sociales ul {
    margin-top: 20px;
    margin-left: 195px;

  }
  .container-fluid-01 img{
   margin-left: 0;
  margin-bottom: 40px;
   
   }

  .container-fluid-02 .info-ico{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 50px;
 
  }
 
  .container-fluid-02 .info-ico img{
    margin-top: 10px;
  }

  .container-fluid-02 .info-ico p{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
}

.contenedor-info-02{

  width: 100%;
  flex-direction: column;
}

.info-text {
margin-bottom:50px;
margin-left: 25px;
}

.info-text h2 {
margin-top: -80px;

  }

.info-local img{

  margin-bottom: 50px;
  margin-left: 100px;
  height: auto;

}

.container-top-10{
  width: 100%;
}
/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;
}

.carousel-inner img {
  width: 100% !important;
  height: auto;
}
.carousel-control-prev{
  margin-left: 20px;

 }
 .carousel-control-next {
  margin-right: 20px;
  }
.platos-10 {
    margin-left: auto;
}

.platos-10 img {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.info-top {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}
.info-top h4{
  text-align: center;
}
.info-top p{
  text-align: center;
  font-size: 16;
}

.btn-container{
  text-align: center;
}

.container-banner-ubicacion {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.container-banner-ubicacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-ico-u{
  position: absolute;
}
.icon-ubicación {
  position:absolute;
  top: 560%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;

}

.medios-de-pago img {
width: 60%;
  object-fit: cover;
  margin-left: 100px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;

}

.subscribete-form button {

  margin-left: 240px;
  margin-top: -57px;
}


.banner-video {
  position: relative; /* Ajusta según sea necesario */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 50%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta según sea necesario */
  z-index: 2;
}

.overlay-container h1 {
  font-size: 24px; /* Ajusta según sea necesario */
  margin: 0;
}

.overlay-container p {
  font-size: 12px; /* Ajusta según sea necesario */
  margin-top: 10px;
  margin-bottom: 0;
}

.menu-categorias {
  flex-wrap: wrap; 
  justify-content: center;
}

.menu-categorias li {
  margin: 13px; 
}


}


/** boton subir**/
.subir {
  height: 40px;
  width: 40px;
  background-color: var(--button-principal);
  color: var(--button-principal);
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  border-radius: 1%;
  box-shadow: 2px 2px 5px #000;
  z-index: 3;

}

.subir svg {
  margin-top: 0px;
  margin-left: 5px;
  font-size: 20px;
  transform: translateX(-15%);

}